body {
	margin: 0;
	padding: 0;
	font-family: Circular, "Helvetica Neue", Helvetica, Arial,sans-serif;
	font-size: 14px;
	color: #484848;
}
.container {
	max-width: 1000px;
	margin: 30px auto;
}

@media screen and (max-width: 1000px) {
	.container {
		width: 95%;
		display: flex;
		flex-wrap: wrap;
	}
}
