header {
	background-color: #FF0000;
	height: 70px;
	width: 100%;
	border-bottom: 1px #CCCCCC;
	display: flex;
	align-items: center;
}

header .logo {
	padding-left: 20px;
	background: url(../images/icon.png) no-repeat center;
	width: 162px;
	height: 60px;
}
